* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.main-container {
  height: 650px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 5fr;
}
.header,
.content-container {
  background-color: #ffffff;
  border: 2px solid black;
}
.sidebar {
  height: 100%;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-row-end: 3;
  background-color: #363740;
}
.sidebar-elements {
  height: 100%;
  display: grid;
  grid-template-rows: repeat(12, 1fr);
  color: #a4a6b3;
}
.sidebar-inside {
  display: flex;
  align-items: center;
  height: 53px;
  padding-left: 20px;
}
.sidebar-elements > :not(:first-child) {
  border-left: 4px solid transparent;
  transition: border-left-color 0.2s;
}
.sidebar-elements > :not(:first-child):hover {
  background-color: #3e4049;
  color: #dde2ff;
  border-left: 4px solid #dde2ff;
}
.sidebar-elements img {
  margin-right: 20px;
}

.logo-container {
  grid-row: 1/3;
  display: flex;
  align-items: center;
  margin-left: 15px;
}
#logo-name {
  font-size: 24px;
  font-weight: bolder;
  color: #3bb5e2;
  margin-left: -15px;
}
.subscription {
  grid-row: 12/13;
}
.settings {
  grid-row: 11/12;
}

.main1 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.main2 {
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.main3 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
#content-container {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}
.header-elements-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 40px 0px 0px 20px;
}
.header-elements-container .header-elements-overview-container {
  color: #363740;
  font-size: 24px;
}
.header-elements-icons-container {
  height: 25px;
  width: 300px;
  justify-self: right;
  display: flex;
  justify-content: space-around;
}
.user img {
  margin: -10px 20px 0px 30px;
  height: 45px;
  border: 2px solid #9bb4b799;
  border-radius: 50%;
}
.notifications {
  padding: 0px 20px 0px 20px;
  border-right: 2px solid #9bb4b799;
}
.header-elements-icons-container .username {
  padding-left: 85px;
}
